.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 44px;
  margin-bottom: 30px;
}

input[type="text"] {
  
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dcef10;
  border-radius: 35px;
}

table {
text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {

  padding: 18px;
  text-align: left;
  border-bottom: 15px solid #e6db0c85;
}

th {

  cursor: pointer;
}

tr:hover {
  background-color: #f2f2f2;
}

.loader {
  text-align: center;
  margin-top: 20px;
}