.App {
  background-image: url("https://www.shutterstock.com/image-vector/plasticine-3d-weather-icons-render-600nw-2246769899.jpg");
  background-position: top;
  background-size: 720px;
  background-attachment: fixed;
  /* filter:10%; */


  /* filter: brightness(50%); */

}

.App-logo {

  text-align: center;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #342e28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 8px;
}

input {
  padding: 8px;
  outline: none;
}